// Note:
// 这个文件用来定义全局变量的基本值, 如果当前theme有覆盖, 则会覆盖这里的值
// 与 default:dark 的值相同
// tr-bg 结尾的变量 透明度可以通过config调整

$body-tr-bg: #2f2f2f !default;

$title-bar-bg: #24242433 !default;

$base-font-0: #fff !default;
$base-font-1: #cecece !default;
$base-font-2: #979797 !default;

$tooltip-bg: #2f2f2f !default;
$tooltip-arrow-bg: #2f2f2f !default;
$tooltip-border: #6e6e6e !default;
$tooltip-font: #fff !default;

$menu-btn-hover-bg: #99999966 !default;
$menu-btn-font: #fff !default;
$menu-btn-hover-border: #fff !default;
